<h1>New comment</h1>

<%= simple_form_for Comment.new do |f| %>
    <%= f.hidden_field :parent_id %>

    <div class="field">
      <%= f.input :content %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>

