<style>
  .center-fields-sign{
    padding-left: 20%;
    padding-right: 20%;
  }

  label {
    margin-bottom: 0;
    margin-top: 25px;
  }

</style>

<div class="center-fields-sign">
<h1>New Category</h1>


<%= simple_form_for @category, html: {multipart: true} do |f| %>

    <div class="field">
      <%= f.input :name, autofocus: true %>
    </div>

    <div class="actions">
      <%= f.button :submit %>
    </div>
<% end %>
</div>

<%= link_to 'Back', categories_path %>
